<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${article.title}">Article</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>


<div class="article-container">
    <a th:href="@{/}" class="back-link">
        <span class="back-icon">←</span>
        <span>Back to overview</span>
    </a>

    <h1 th:text="${article.title}">Title</h1>
    <p class="date" th:text="${article.publishedAt}"></p>
    <p th:text="${article.content}"></p>
</div>

</body>
</html>